stages:
  - Test_Build
  - FE_Image
  - BE_Image
  - Deploy

variables:
  ECR_REPOSITORY_URI: 725115073641.dkr.ecr.ap-northeast-2.amazonaws.com/yammy
  APP_DIR: .
  FRONTEND_DIR: Yammy-FE
  BACKEND_DIR: Yammy-BE/yammy

Test_Build_BE:
  stage: Test_Build
  only:
    - CI/CD     # 삭제 예정
    - develop   # 삭제 예정
    - master
  image: openjdk:17-jdk-slim
  tags:
    - test-build
  services:
    - name: mysql:8.0
      alias: mysql-db
    - name: redis:latest
      alias: redis
  variables:
    MYSQL_DATABASE: testdb
    MYSQL_ROOT_PASSWORD: root_password
    DB_URL: jdbc:mysql://mysql-db:3306/${MYSQL_DATABASE}?serverTimezone=Asia/Seoul
    DB_USERNAME: root
    DB_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    SPRING_DATA_REDIS_HOST: redis
    SPRING_DATA_REDIS_PORT: 6379
    SPRING_DATA_REDIS_PASSWORD:
  before_script:
    - cd ${BACKEND_DIR}
    - chmod +x gradlew
    - apt-get update -qq && apt-get install -y --no-install-recommends wait-for-it
    - wait-for-it mysql-db:3306 -t 30 -- echo "MySQL is up and running!"
    - wait-for-it redis:6379 -t 30 -- echo "Redis is up and running!"
    - | 
      MYSQL_HOST_IP=$(getent hosts mysql-db | awk '{ print $1 }');
      if [ -z "$MYSQL_HOST_IP" ]; then 
        MYSQL_HOST_IP="mysql-db"; 
      fi;
      export DB_URL=jdbc:mysql://${MYSQL_HOST_IP}:3306/${MYSQL_DATABASE}?serverTimezone=Asia/Seoul
    - export DB_URL=$DB_URL
    - export DB_USERNAME=$DB_USERNAME
    - export DB_PASSWORD=$DB_PASSWORD
    - rm -f src/main/resources/application.yml
    - echo "$CI_APPLICATION_YML" > src/main/resources/application.yml
    - echo "application.yml created successfully with CI variables."

  script:
    - ./gradlew clean test

FE_Image:
  stage: FE_Image
  only:
    - CI/CD     # 삭제 예정
    - develop   # 삭제 예정
    - master
  image: docker:24.0.5
  tags:
    - test-build
  services:
    - name: docker:24.0.5-dind
  variables:
    FE_IMAGE_TAG: frontend-latest
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - cd ${FRONTEND_DIR}

    - echo "VITE_KAKAO_REST_API_KEY=${VITE_KAKAO_REST_API_KEY}" > .env
    - echo "생성된 .env 파일 내용:"
    - cat .env

    - apk add --no-cache python3 py3-pip
    - pip install awscli
    - export AWS_ACCESS_KEY_ID
    - export AWS_SECRET_ACCESS_KEY
    - export AWS_DEFAULT_REGION
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $ECR_REPOSITORY_URI
    - docker build -t $ECR_REPOSITORY_URI:$FE_IMAGE_TAG .
    - docker push $ECR_REPOSITORY_URI:$FE_IMAGE_TAG

BE_Image:
  stage: BE_Image
  only:
    - CI/CD     # 삭제 예정
    - develop   # 삭제 예정
    - master
  image: openjdk:17-jdk-slim
  tags:
    - test-build
  services:
    - name: docker:24.0.5-dind
  needs:
    - Test_Build_BE
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    BE_IMAGE_TAG: backend-latest
  script:
    - apt-get update -qq && apt-get install -y --no-install-recommends docker.io docker-compose
    - apt-get install -y python3 python3-pip
    - pip install awscli
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $ECR_REPOSITORY_URI
    - cd ${BACKEND_DIR}
    - chmod +x gradlew
    - rm -f src/main/resources/application.yml
    - echo "$PROD_APPLICATION_YML" > src/main/resources/application.yml
    - echo "Production application-prod.yml created successfully."
    - ./gradlew clean build -x test
    - echo "Production JAR built successfully."
    - docker build -t $ECR_REPOSITORY_URI:$BE_IMAGE_TAG .
    - docker push $ECR_REPOSITORY_URI:$BE_IMAGE_TAG

Deploy:
  stage: Deploy
  only:
    - CI/CD     # 삭제 예정
    - develop   # 삭제 예정
    - master
  tags:
    - yammy-build
  dependencies: []
  image: ubuntu:latest
  before_script:
    - sudo apt-get update -qq
    - sudo apt-get install -y awscli docker-compose
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $ECR_REPOSITORY_URI
  script:
    - sudo -E docker-compose -f /home/ubuntu/docker-compose.yml down -v --remove-orphans
    - docker pull $BE_IMAGE_URI
    - docker pull $FE_IMAGE_URI
    - sudo -E docker-compose -f /home/ubuntu/docker-compose.yml up -d
