server:
  port: 8080
  address: 127.0.0.1

spring:
  config:
    import: optional:file:.env[.properties]

  application:
    name: yammy

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:redis}   # 기본값: redis
      port: ${SPRING_DATA_REDIS_PORT:6379}    # 기본값: 6379
      password: ${SPRING_DATA_REDIS_PASSWORD:#{null}}
      timeout: 6000ms

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  cloud:
    aws:
      credentials:
        accessKey: ${AWS_ACCESS_KEY}
        secretKey: ${AWS_SECRET_KEY}
      s3:
        bucket: ${AWS_S3_BUCKET}
      region:
        static: ${AWS_REGION}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secretKey: ${JWT_SECRET_KEY}
  accessExpiration: ${JWT_ACCESS_EXPIRATION:900000}
  refreshExpiration: ${JWT_REFRESH_EXPIRATION:1209600000}

firebase:
  service-account: classpath:firebase-service-account.json
  storage-bucket: yammy-chat-games.firebasestorage.app
# 카카오 OAuth 설정
kakao:
  rest:
    api:
      key: ${KAKAO_REST_API_KEY}
  client-secret: ${KAKAO_CLIENT_SECRET:}
  redirect-uri: ${KAKAO_REDIRECT_URI}


#firebase:
#  type: ${FIREBASE_TYPE}
#  project-id: ${FIREBASE_PROJECT_ID}
#  private-key-id: ${FIREBASE_PRIVATE_KEY_ID}
#  private-key: ${FIREBASE_PRIVATE_KEY}
#  client-email: ${FIREBASE_CLIENT_EMAIL}
#  client-id: ${FIREBASE_CLIENT_ID}
#  auth-uri: ${FIREBASE_AUTH_URI}
#  token-uri: ${FIREBASE_TOKEN_URI}
#  auth-provider-cert-url: ${FIREBASE_AUTH_PROVIDER_CERT_URL}
#  client-cert-url: ${FIREBASE_CLIENT_CERT_URL}
#  universe-domain: ${FIREBASE_UNIVERSE_DOMAIN}
#  storage-bucket: ${FIREBASE_STORAGE_BUCKET}