spring:
  config:
    import: optional:file:.env[.properties]

  application:
    name: yammy

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:redis}   # 기본값: redis
      port: ${SPRING_DATA_REDIS_PORT:6379}    # 기본값: 6379
      password: ${SPRING_DATA_REDIS_PASSWORD:#{null}}
      timeout: 6000ms

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  cloud:
    aws:
      credentials:
        accessKey: ${AWS_ACCESS_KEY}
        secretKey: ${AWS_SECRET_KEY}
      s3:
        bucket: ${AWS_S3_BUCKET}
      region:
        static: ${AWS_REGION}


