/* 반응형 레이아웃 */
.app-container {
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding-bottom: 60px;
  box-sizing: border-box;
}